html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    background-image: linear-gradient(to top, $negro 0%, $naranja-oscuro 30%, $blanco 50%, $naranja-oscuro 80%, $negro 102%);
    background-attachment: fixed;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-weight: 900;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
    text-align: center;
}