// Fuentes
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$naranja-normal: #f36200;
$naranja-oscuro: #c04d00;
$naranja-muy-oscuro: #8d3900;
$naranja-claro: #ff7e27;
$naranja-muy-claro: #ff9c5a;
$negro: #000;
$gris: #333;
$gris-claro: #999;
$blanco: #fff;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900