        .contenedor-productos {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 2rem auto 2rem auto;
            column-gap: 3rem;
            row-gap: 3rem;
        }
        
        @include tablet {
            .contenedor-productos {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        
        .producto {
            background-color: rgba(243, 98, 0, 0.3);
            border: solid .3rem $gris;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                text-transform: uppercase;
                font-weight: bold;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                color: negro;
            }
        }
        
        .seccion-productos {
            h2 {
                font-size: 4rem;
                color: $gris;
            }
        }